@model IEnumerable<FrontDDD.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Produto</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                                
                @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn  fa fa-pencil-square-o" }) 
               
                @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "btn  fa fa-trash" })
            </td>
        </tr>
}
    </tbody>
</table>
